.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
    background-color: #05274B;
    width: 100%;
    p{
        color: white;
    }
}