* {
    margin: 0;
    padding: 0;
}

.trandingProducts {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .Roww {
        .textStart {
            display: flex;
            flex-direction: column;
            text-align: start;
            padding: 0;

            p {
                margin-bottom: 1rem;
                color: #777;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                font-weight: 400;
                line-height: 1.667;
            }

            h2 {
                font-size: 36px;
                font-weight: 600;
                font-family: "Oswald", sans-serif;
                color: #222;
                line-height: 1.1;

                .borderBottom {
                    border-bottom: 2px solid #6f42c1;
                }
            }
        }
    }

    .cardContainer {
        padding-top: 5rem;

        .Card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           .cardIimg{
            position: relative;
            img{
                width: 263px;
                height: 280px;
            }
           }

            .Hovereffect {
                visibility: hidden;
                position: absolute;
                background: rgba(255, 255, 255, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                bottom: 0;
                gap: 20px;
                padding: 30px 30px;
                width: 100%;

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 40px;
                    padding: 10px;
                    color: white;
                    cursor: pointer;
                    background-color: #6f42c1;
                }
            }

            .cardTtext {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                margin-top: 1rem;

                p {
                    color: #777;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 1.667;
                }

                h4 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.3;
                    font-family: "Oswald", sans-serif;
                }

            }
        }
    }

    .Card:hover h4 {
        transition: 0.4s ease-in;
        color: #384aeb
    }

    .Card:hover .Hovereffect {
        visibility: visible;
    }
}